.section-logins
{
	position:absolute;
	top:700px;
	left:150px;
	right:150px;
	
}
body
{
    	

	background-repeat:no-repeat;
	background-color:red;
}
.h1
{
	color:rgb(241,65,98);
    position: absolute;
}
.about
{
	margin-top:1080px;
	background-color:rgb(10,200,200);
}
.contact
{
	background-image:url("ContactUs.jpg");
	background-repeat:no-repeat;
	background-color: red;
	
}

.jumbotron
{
   background-image:url("doctor.jpg");	 
}
